.rbc-time-content,
.rbc-label {
    display: none;
}

.rbc-allday-cell {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.rbc-row-content,
.rbc-event {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rbc-month-row .rbc-row-content,
.rbc-month-row .rbc-event {
    max-height: 70%;
    min-height: 60px;
}

.rbc-row-segment {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.rbc-month-row .rbc-row-segment {
    justify-content: center;
}

.rbc-event-content {
    white-space: normal !important;
}

@media only screen and (max-width: 600px) {
    .rbc-toolbar {
        flex-direction: column;
    }
}