.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo {
    height: auto;
    width: 400px;
    margin-bottom: 20px;
}

.sidebar-logo {
    width: 90%;
    height: auto;
    margin: 20px 0;
}

.form-control {
    margin-bottom: 10px;
}

.right-button {
    margin-left: 5px;
}

.buttons {
    margin-top: 10px;
}

.login-button {
    width: 300px;
}

.react-tagsinput-input {
    width: 200px;
}

.xs-only {
    display: none;
    background-color: #3ca2e0;
}

.nav a {
    color: white
}

.panel-heading {
    font-size: 18px;
}

.tags {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    margin-right: 4px;
}

.plain-link,
.plain-link:hover {
    color: inherit;
}

.panel .plain-link,
.panel .plain-link:hover{
    color: #3ca2e0;
}

@media only screen and (max-width: 640px) {
    .main-logo {
        width: 80%;
    }
}

@media only screen and (max-width: 767px) {
    .xs-only {
        display: block;
    }
    .main {
        margin-top: 25px;
    }
}